{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>



  {{#with person}}
  <main>


    <section>
      {{> title data = name}}

    </section>


    <section>
      <div>
        <b> Age: {{age}} Gender: {{gender}} </b>
        {{#with address}}
        <address>Address: {{street}} , {{city}} , {{state}} , {{zip}} , {{country}} </address>
        {{/with }}

        <hr>
        <br>
      </div>
    </section>

    <section>
      <div>
        <b> Education: </b>
        {{#with education.[0]}}
        <div> {{degree}} , {{major}} , {{university}} , {{graduationYear}} </div>
        {{/with }}

        <hr>
        <br>
      </div>
    </section>

    <section>
      <div>
        <b> WorkExperience: </b>
        {{#with workExperience.[0]}}
        <ul>
          <div>
            <li> {{company}} , {{title}} </li>
            <br>
            <div> з: {{startDate}} по {{endDate}}</div>
            <div> {{responsibilities}} </div>
            <div> Рік заснування: {{year_founded}}, Галузь: {{industry}} </div>
            <br>
            {{#with employees.[0]}}
            <ul> Сотрудники:
              <div>
                <li> {{name}} , {{position}} , {{department}} </li>

                {{#with projects.[0]}}
                <ul> Проекти:
                  <li>
                    <h4> {{name}} </h4>
                    <div> {{description}} </div>
                    <div> {{status}} </div>

                    {{#with teams.[0]}}
                    <br>
                    <ul>
                      <li> Команда: {{team_name}} </li>

                      {{#with team_leader}}
                      <div>- {{name}} ({{title}}) </div>
                      {{!-- <mail> email: {{email}} </mail> --}}
                      <a href="mailto:{{email}}">{{email}}</a>
                      {{#with ../team_members.[0]}}
                      <div>- {{name}} ({{title}}) </div>
                      <a href="mailto:{{email}}">{{email}}</a>
                      <br>
                      <br>
                      <div>Skills: </div>
                      {{#each skills }}
                      <li> - {{this}} </li>
                      {{/each}}
                      <br>

                      {{#with projects.[0]}}
                      {{!-- <ul> --}}
                        <div> Проекты: {{name}} </div>
                        <li>{{description}} </li>
                        <br>
                        <div>Technology: </div>
                        {{#each technologies }}
                        <li> - {{this}} </li>
                        {{/each}}
                        <br>

                        <ul> Члены команды:
                          {{#each team_members}}

                          <li> {{name}} , {{title}} </li>
                          {{/each}}
                        </ul>

                        {{/with}}
                        {{/with}}
                        {{/with}}


                      </ul>
                      {{/with}}


                  </li>

                </ul>
                {{/with}}
              </div>

            </ul>
            {{/with }}
            <div> </div>

          </div>
        </ul>
        {{/with }}

        <hr>
        <br>
      </div>
    </section>

  </main>
  {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}