{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>


  <main>

    {{!-- // ====== navigation ============== --}}
    <section>
      {{#with navigation}}
      <div class="nav nav-tabs">
        {{#each links}}
        <div class="nav-item">

          <a href="{{href}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}
          </a>

        </div>
        {{/each}}
      </div>
      {{/with}}
    </section>
    <br>

    <section class="col=12 row">
      <section class="col-8 p-2">
        <div class="row ">
          <div class="card text-bg-secondary">
            <br>

            {{#with formBlock}}
            <h1 class="m-2">{{header}}</h1>

            {{#with rating}}
            <div class="m-2 display-9">
              {{title}} : {{value}}
            </div>
            {{/with}}

            {{#with actionBlock}}
            <div class="nav nav-tabs">

              {{#each tabs}}

              <div class="nav-item">
                <a href="#" class="nav-link  {{#if isActive}}active{{/if}}">
                  {{text}}
                </a>
              </div>

              {{/each}}
            </div>

            <div class="card  m-2 ">

              {{#with report}}
              <div class="display-8">
                <div class="text-primary m-2">{{title}}</div>
              </div>
              <br>
              {{#with button}}
              <a href="{{link}}" class="m-2 col-6 btn btn-secondary">{{text}}</a>
              {{/with}}
              {{/with}}
              <br>

            </div>

            {{/with}} {{!-- // == #with actionBlock === --}}
            <hr>
            {{#with feedbackBlock}}

            <h4 class="m-2">{{title}}</h4>

            <br>
            <div class="col-12 m-2">
              {{#each buttons}}

              <button {{#if isWarning}} class="btn btn-warning m-2" {{/if}} {{#if isSuccess}}
                class="btn btn-success m-2" {{/if}} {{#if isDanger}} class="btn btn-danger m-2" {{/if}}>
                {{text}}
              </button>


              {{/each}}
            </div>


            {{/with}} {{!-- // == #with feedbackBlock === --}}


          </div>
        </div>

      </section> {{!-- // == section class="col=8 p-2 === --}}

      <section class="col-3">
        <div class="row ">
          <div class="card text-bg-secondary">

            {{#with goodsInfo}}
            <div class="card text-bg-secondary">
              <img src='{{photo}}' class="m-1">
              <h5> {{name}} </h5>
            </div>
            <br>
            <div class="card text-bg-secondary">
              <div class="m-2 display-7">{{price}}</div>
              <div class="m-2">{{#if inMarket}} Є в наявеості {{/if}}</div>

              {{#each buttons}}

              <button {{#if isPrimary}} class="btn btn-primary m-2" {{/if}} {{#if isSecondary}}
                class="btn btn-success m-2" {{/if}}>
                {{text}}
              </button>

              {{/each}}

            </div>
            <br>
            <div class="card text-bg-secondary">

              {{#with seller}}
              <div class="m-2"> {{title}} {{value}} </div>

              {{/with}}

            </div>


            {{/with}} {{!-- // == #with formBlock === --}}
            <br>

          </div>
        </div>

      </section> {{!-- // == section class="col-4"=== --}}



      {{/with}} {{!-- // == #with formBlock === --}}

    </section> {{!-- // == section class="col=12 row === --}}

    <div class="card text-bg-secondary">
      <section class="col-12">
        {{#each reviewList}}
        <div class="card text-bg-secondary">
          {{#with title}}
          <em class="display-7 m-2">{{userName}} </em>
          <div class=" m-2">{{caption}}</div>
          <b class="m-2">{{date}}</b>


          {{/with}}

        </div>

        <div class="card text-bg-secondary">
          {{#with reviewBody}}
          {{#with seller}}
          <div class="m-2"> {{title}} : {{value}} </div>
          {{/with}}

          {{#with rating}}
          <div class="m-2"> {{title}}
            {{value}} </div>
          {{/with}}
          <br>
          {{#each text}}
          <p> {{this}} </p>
          {{/each}}

          {{#with advantages}}
          <b class="m-2"> {{title}} : </b>
          <div class="m-2"> {{text}} </div>
          {{/with}}

          {{#with disadvantages}}
          <b class="m-2"> {{title}} : </b>
          <div class="m-2"> {{text}} </div>
          {{/with}}

          <div class="row">
            {{#each images}}
            <img src='{{this}}' class="m-1 col-3">
            {{/each}}
          </div>

          {{#each coments}}

          <div class="card text-bg-secondary col-7 ms-6 m-3">

            <div class="m-2"><b>{{userName}} </b></div>
            <div class="m-2">{{date}} </div>
            <br>
            <div class="m-2">{{text}} </div>

          </div>

          {{/each}}

          {{/with}} {{!-- // == #with reviewBody === --}}
          <br>

        </div>
        <br>
        <br>
        {{/each}} {{!-- // == #reviewList === --}}
        <br>

      </section>
      <br>
      <br>
    </div>

    <section>
      {{#with service}}
      <div class="card text-bg-success">
        <div class="card-body">
          <h2 class="card-header text-center">
            <div>{{title}}</div>
          </h2>
          <div class="text-center">{{description}}</div>

          {{#each buttons}}
          <button href="{{link}}" class="btn btn-primary m-3">{{text}}</button>

          {{/each}}
        </div>
      </div>

      {{/with}}
    </section>

  </main>

</div>