{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

  {{!-- <div> {{web.languages.[0].name}}</div>
  <div> {{web.languages.[1].name}}</div>
  <div> {{web.languages.[2].name}}</div>


  <div> {{web.languages.[0].elements.[0].name}}</div>
  <div> {{web.languages.[0].elements.[0].attributes.[0].name}}</div>

  <div> {{web.languages.[1].properties.[0].name}}</div>
  <div> {{web.languages.[1].properties.[0].values.[0].value}}</div>

  <div> {{web.languages.[2].functions.[0].name}}</div>
  <div> {{web.languages.[2].functions.[0].parameters.[0].name}}</div> --}}


  {{#with web}}

  <main>



    {{> title data = 'Web' big=true}}


    <section>
      {{#each languages}}
      <ul>
        <li>
          <h2>{{name}}</h2>
        </li>
      </ul>
      <div> {{version}} </div>
      <div> {{description}} </div>
      <hr>
      <br>

      {{#each elements }}
      <div> <b>{{name}}</b> - {{description}} </div>

      {{!-- {{#each properties}}
      <div> {{name}} {{description}} </div>
      {{/each}} --}}

      {{#each attributes}}
      <ul>
        <li> <b>{{name}}</b> - {{description}} </li>
      </ul>

      {{/each}}
      {{/each}}
      {{!-- ------- CSS ----------- --}}

      {{#each properties}}
      <div> <b>{{name}}</b> - {{description}} </div>

      {{#each values}}
      <ul>
        <li> <b>{{value}}</b> - {{description}} </li>
      </ul>
      {{/each}}
      {{/each}}

      {{!-- ------- JavaScript ----------- --}}
      {{#each functions}}
      <div> <b>{{name}}</b> - {{description}} </div>

      {{#each parameters}}
      <ul>
        <li> <b>{{name}}</b> {{type}} - {{description}} </li>
      </ul>

      {{/each}}
      {{/each}}
      {{/each}}
    </section>



  </main>
  {{/with}}

</div>






























{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}