{{!-- ----------------- 4 вариант --------------- --}}

{{!-- <a href="{{href}}"> {{text}}</a> / --}}


{{!-- ----------------- 5 вариант --------------- --}}

{{!-- <a href="{{abc}}"> {{info}}</a> / --}}


{{!-- ----------------- 6 вариант --------------- --}}

{{!-- <a href="{{data.href}}"> {{data.text}}</a> / --}}

{{!-- ----------------- 6 вариант --------------- --}}

{{!-- {{#with data}}
<a href="{{href}}"> {{text}}</a> /
{{/with}} --}}


<a href="{{href}}" {{#if blank }} target="_blank" {{/if}}> {{text}}</a>




{{#unless noLine}}

{{#if line}}
---
{{else}}
/
{{/if}}

{{/unless}}