{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>
	{{#with header}}
	<header>
		<div>
			<h1>{{name.firstname}} {{name.lastname}}</h1>
		</div>
		<div>
			<b>{{position}}</b>
		</div>
		{{!-- // +----------------- ДЗ 1 -------- --}}
		<br>
		<div>
			<em>{{salary}}</em>
		</div>
		{{!-- // ++----------------- ДЗ 1 -------- --}}
		<br>
		<hr>
		<div>
			<address>{{../header.address}}</address>
		</div>
		<br>
		<hr>
	</header>
	{{/with}}
	<nav>

		{{> linkfoot text="Skills" href = "/skills" line=true}}
		{{> linkfoot text="Summary" href = "/summary" line=true }}
		{{> linkfoot text="education" href = "/education" line=true }}

		{{!-- <a href="/skills">Skills</a>
		<a href="/summary">Summary</a> --}}
	</nav>


	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

	{{#with footer}}
	<footer>
		<hr>
		<br>

		<div>
			{{#with social}}

			{{!-- // было до 17,07,23
			{{> linkfoot data=email}}
			{{> linkfoot data=phone}}
			{{> linkfoot data=linkedin}}
			// было до 17,07,23 --}}


			{{> linkfoot text=email.text href = email.href blank=true }}
			{{> linkfoot text=phone.text href = phone.href blank=true }}
			{{> linkfoot text=linkedin.text href = linkedin.href blank=true }}

			{{/with}}
		</div>
		<br>
		<div>
			<em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}} </em>
		</div>
		<br>
		<div>Адреса:{{../header.address}}</div>
		<br>
	</footer>
	{{/with}}
</body>

</html>